* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden !important;
}

.bg-dark {
    background-color: #212121!important;
}

.nav-link {
    margin: 3px!important;
    font-size: 17px;
}

.live-inner {
    /* height: 87.3vh; */
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.live-video {
    /* height: 100%; */
    /* width: 102.7%; */
    /* overflow-y: hidden; */
}

.petra-nav {
    padding: 3px;
    width: 100%;
    /* height: 500px; */
    height: 100%;
    /* height: 100%; */
    text-align: left;
    background-color: #fff;
    position: relative;
}

.tab-content {
    height: 95%;
}

.petra-nav .nav-pills a {
    color: rgb(159, 159, 160);
    font-weight: 600;
    font-size: 12px;
    text-align: left;
}

.petra-nav .nav-pills .nav-link {
    padding: .2rem .4rem;
    text-transform: uppercase;
    margin: 0px;
}

.petra-nav .nav-pills .active {
    /* background: none!important; */
    background-color: #fff;
    border-radius: 0px;
    color: #000;
}
section.streamer {
    background: yellow;

}

.tab-content {
    text-align: justify;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.petra-nav .tab-content .tab-pane {
    font-size: 16px;
    max-height: initial;
}

.note h5 {
    font-size: 17px;
    color: #000;
    overflow-x: none;
}

.note h4 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin: 30px 0 10px 0;
}

.note p {
    font-size: 15px;
    line-height: 30px;
}

.note {
    /* overflow-y: scroll; */
    /* height: 500px; */
}

.live-schedule {
    margin: 20px auto 3px auto;
    text-align: left;
}

.live-schedule h5 {
    text-transform: uppercase;
    font-size: 14.44px;
    color: rgb(159, 159, 160);
    padding-bottom: 4px;
}

.live-schedule-card {
    color: rgb(64, 64, 65);
    margin-bottom: 1rem;
    border-radius: 2px;
    background: rgb(236, 236, 236);
    height: 55px
}

.live-schedule-content {
    border-bottom: none;
    padding: 5px 20px;
}

.live-schedule-time {
    font-size: 17px;
    font-weight: bold;
}

.live-schedule-content small {
    font-size: 14.44px;
    color: rgb(159, 159, 160);
    white-space: nowrap;
    overflow: hidden;
}

.bible {
    /* height: 500px; */
}



.form-group {
    margin-bottom: 1rem;
}

.entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #3535359c;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.help-block.with-errors {
    color: red;
    font-size: 12px;
}

label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 30px;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
}

input[type="text"],
input[type="email"] {
    border: none;
    outline: none;
    width: 100%;
}

input[type="submit"] {
    position: relative;
    width: auto;
    color: #fff;
    background-color: #090909;
    -moz-appearance: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    padding: 20px 41px;
    margin-top: 0;
    -webkit-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    .tab-content {
        height: 500px !important;
    }
    .live-video {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .tab-content {
        height: 5000px;
    }
    .live-video {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .bible .bible-iframe {
        height: 100%;
        width: 100%;
    }
    .navbar-collapse ul li {
        text-align: center;
    }
    .nav-link {
        margin: 0px!important;
        font-size: 17px;
    }
    .live-video {
        width: 100%;
    }
    .entry {
        display: block;
    }
    label {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        display: block;
        margin-bottom: 10px;
    }
    .entry input {
        height: 100%;
    }
}

/* .main-content.row-flex {
    flex-direction: column;
} */

@media screen and (max-width: 1023px) {
    .light-logo {
        width: 48px;
        height: 48px;
    }
    .main-content.row-flex { 
        flex-direction: column;
    }

    .main-content.row-flex div.video-box {
        flex: 1.5 !important;
    }

    .main-content.row-flex div.util-box {
        flex: 2 !important;
    }

}

@media screen and (max-width: 639px) {
    .main-content.row-flex div.video-box {
        flex: 2 !important;
    }

    .main-content.row-flex div.util-box {
        flex: 3 !important;
    }
}

@media screen and (max-width: 567px) {
    .main-content.row-flex div.video-box {
        flex: 2 !important;
    }

    .main-content.row-flex div.util-box {
        flex: 3 !important;
    }

    .video-box{
        /* min-height: 260px; */
    }
}

/* @media only screen and (min-width: 1280px) {
    .panel-right {
        padding-left: 2px;
    }

    .main-content.row-flex {
        flex-direction: row;
    }
} */

.stream-container {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
}


  .tab-content {
      /* border: 1px solid red; */
      /* overflow-y: scroll; */
      display: flex;
  }

  .tab-pane{
      /* border: 1px solid royalblue; */
  }

  .tab-pane.bible, .tab-pane.chat {
      padding: 0px;
  }

  .note {
    width: 100%;
    height: 90%;
    overflow: auto;
  }

  .bible .bible-iframe {
    width: 100%;
    height: 100%;
}

