body,
html {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    overflow: hidden;
}

.form-group {
    margin-bottom: 1rem;
}

.entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #3535359c;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.help-block.with-errors {
    color: red;
    font-size: 12px;
}

label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 30px;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
}

input[type="text"],
input[type="email"] {
    border: none;
    outline: none;
    width: 100%;
}

input[type="submit"] {
    position: relative;
    width: auto;
    color: #fff;
    background-color: #090909;
    -moz-appearance: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    padding: 20px 41px;
    margin-top: 0;
    -webkit-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
}

.video-container {
    height: 100%;
    width: 102.5%;
    background-color: #333;
}

.tab-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.nav-pills a {
    color: rgb(159, 159, 160);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    background: transparent;
}

.nav-pills .nav-link {
    text-transform: uppercase;
    padding: 1px;
    margin: 7px;
}

.nav-pills .nav-link.active {
    background-color: #fff;
    border-radius: 0px;
    color: #000;
}

.tab-content {
    text-align: justify;
    min-height: 100%;
}

.note,
.schedule {
    height: 540px;
    overflow-y: scroll;
    padding: 1rem .7rem;
}

.note h5 {
    font-size: 17px;
    color: #000;
    overflow-x: none;
}

.note h4 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin: 10px 0 5px 0;
}

.note p {
    font-size: 15px;
    line-height: 30px;
}

.live-schedule {
    margin: 20px auto 3px auto;
    text-align: left;
}

.live-schedule h5 {
    text-transform: uppercase;
    font-size: 14.44px;
    color: rgb(159, 159, 160);
    padding-bottom: 4px;
}

.live-schedule-card {
    color: rgb(64, 64, 65);
    margin-bottom: 1rem;
    border-radius: 2px;
    background: rgb(236, 236, 236);
    height: 55px
}

.live-schedule-content {
    border-bottom: none;
    padding: 5px 20px;
}

.live-schedule-time {
    font-size: 17px;
    font-weight: bold;
}

.live-schedule-content small {
    font-size: 14.44px;
    color: rgb(159, 159, 160);
    white-space: nowrap;
}

.bible,
.chat {
    width: 100%;
    height: 540px;
    border: none;
}

@media only screen and (max-width: 567px) {
    .note,
    .schedule {
        height: 300px;
        overflow-y: scroll;
        padding: .3rem .7rem 2rem .7rem;
    }
    .bible,
    .chat {
        height: 300px;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .note,
    .schedule {
        height: 340.5px;
        overflow-y: scroll;
        padding: 0.3rem .7rem .1rem .7rem;
    }
    .bible,
    .chat {
        height: 340.5px;
    }
}


}
@media only screen and (max-width: 991px) {
    .note,
    .schedule {
        height: 500px;
        overflow-y: scroll;
        padding: 0.3rem .7rem .1rem .7rem;
    }
    
    .bible,
    .chat {
        height: 500px;
    }
}