@import url("https://fonts.googleapis.com/css?family=scardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'scardo', serif;
}

/* * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
} */
body {
  /* background: url('../img/groups-bg.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

body::after {
  content: "";
  background: url('../img/groups-bg.png');
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  /* margin: 0 auto; */
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.scard {
    border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 290px !important;
  background-size: cover !important;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15), 0 16px 16px rgba(0, 0, 0, 0.15);
}

.scard.mega {
    /* width: 1110px; */
    height: 650px !important;
    padding: 0px;
}

.latest-sermon:after {
    content: "Latest Sermon";
    font-size: 16px;
    background: #808080b3;
    z-index: 10;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 60px;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
}


@media (min-width: 600px) {
  .scard {
    height: 350px;
  }
}
.scard:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.scard:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}


.scard.central:before {
  background-image: url(../img/petra/PETCC-81.jpg);
  background-position: center center;
}
.scard.lekki:before {
  background-image: url(../img/petra/PM8-54.jpg);
  background-position: center center;
}
.scard.ikeja:before {
  background-image: url(../img/petra/PM8-55.jpg);
}
.scard.efam:before {
  background-image: url(../img/petra/PM8-50.jpg);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.stitle {
  font-size: 1.7rem !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  color: #fff !important;
}

.ktitle {
  font-size: 1.7rem !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  color: #fff !important;
}

.copy {
  font-family: var(--font-serif);
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer !important;
  margin-top: 1.5rem !important;
  padding: 0.75rem 1.5rem !important;
  font-size: 0.65rem !important;
  font-weight: bold !important;
  letter-spacing: 0.025rem !important;
  text-transform: uppercase !important;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  width: 200px;
height: 50px;
font-size: 1em !important;
text-align: center;
vertical-align: middle;
padding: 15px !important;
}
.btn:hover {
  background-color: #0d0d0d !important;
  color: #fff !important;
}
.btn:focus {
  outline: 1px dashed yellow !important;
  outline-offset: 3px !important;
}

@media (hover: hover) and (min-width: 600px) {
  .scard:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.stitle) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .scard:hover,
  .scard:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .scard:hover:before,
  .scard:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .scard:hover:after,
  .scard:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .scard:hover .content,
  .scard:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .scard:hover .content > *:not(.stitle),
  .scard:focus-within .content > *:not(.stitle) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .scard:focus-within:before, .scard:focus-within:after,
  .scard:focus-within .content,
  .scard:focus-within .content > *:not(.stitle) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}
.social-groups-column {
    padding-bottom: 30px;
}

.kids-week{
  margin-bottom: 50px;
}

.kcard {
  /* background: yellow; */
  height: 400px;
  border-radius: 20px;
  background-size: cover;
  transition: ease-in-out 0.4s;
}

.kcard:hover {
  box-shadow: 10px 3px 50px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.4s;
}